.tx_history_container {
    margin: auto;
    margin-top: 2rem;
    padding: 1em;
    align: center;
    
  }
  
  .table_container {
    background-color: white;
    padding: 1rem;
    height: 50vh;
    width: 80vw;
    overflow: auto !important;
  }
  
  .header_container {
    margin: 0.5em;
    align-items: left;
  }
  
  .table {
    display: flex;
    gap: 1rem;
  }
  
  .column {
    white-space: nowrap;
  }
  
  .row {
    padding: 1rem;
    height: 1rem;
    margin: 0.5rem;
    width: 100%;
    font-weight: 500;
  }
  
  .title {
    color: #949698;
    font-weight: 700;
  }
  
  
  .blue_text {
    color: #0057da;
  }
  
  .name {
    font-size: auto;
    font-weight: 700;
    position: center;
  }
  
  .tab_group {
    display: flex;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0 auto;
    text-decoration: dashed underline;
    text-decoration-skip-ink: auto;
    text-underline-offset: 0.5rem;
    text-decoration-color: grey;
  }
  
  
  .button_clicked {
    border-radius: 8px;
    background-color: black;
    color: orange;
    border: none;
    padding: 6px 7px;
    font-weight:bold;
  }
  
  .button_unclicked {
    color: white;
    background-color: transparent;
    border: none;
    padding: 6px 7px;
  }
  
  .load_button {
    border-radius: 8px;
    background-color: black;
    color: white;
    padding: 0.5rem ;
    margin: 0.5rem;
    float: right;
  }
  
  .load_button_disabled {
    border-radius: 8px;
    background-color: grey;
    color: white;
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: not-allowed;
    float: right;
  }
  
  .warning {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    text-align: center;
  }